.all{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #8E806A !important;
}

.text-secondary{
    color: #8E806A !important;
}

.wrapper{
    min-height:80vh;
}

.navbar-brand{
    color: white !important;
    font-size: 40;
}

.bg-primary{
    background-color : #F3F0D1 !important; 
}



.bg-info{
    background-color: #8E806A !important;   
}

.footer{
    padding-top: 80px;    
}

.btn{
    color: #8E806A !important;
}


.navbar{
    font-size: 20;
}



.icon{
    margin-right:10px;
}


a.link-light{
    color: #8E806A;
}

a.link-light:hover{
    color: #E29C68;
}




