.all{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar-brand{
    color: white !important;
    font-size: 40;
}

.bg-primary{
    background-color : #F3F0D1 !important; 
}

.text-secondary{
    color: #8E806A !important;
}


.bg-info{
    background-color: #8E806A !important;   
    padding-top: 50px;
    padding-bottom: 30px;
}

.btn{
    color: #8E806A !important;
}


.navbar{
    font-size: 20;
}


.icon{
    margin-right:10px;
}





